<h2><%=name %>, este es el catálogo de productos</h2>
<% productos.forEach(producto => { %>
    <p><%=this.id %> </p>
    <p><%=this.title %> </p>
    <p><%=this.price %> </p>
    <p><%=this.thumbnail %> </p>
<% }) %>