<div>
    <h1>Hola {{name}}, este es el catálogo de productos</h1>
    {{#each users}}
        <div>
            <p>{{this.id}}</p>
            <p>{{this.title}}</p>
            <p>{{this.price}}</p>
            <p>{{this.thumbnail}}</p>
            <br/>
        </div>
    {{/each}}
</div>